onnxruntime-gpu

yt-dlp
huggingface_hub
datasets
boto3
soundfile


librosa
numpy
tqdm
pydub
pyannote.audio
pandas
typing
soxr
git+https://github.com/m-bain/whisperx.git # needs torch >= 2.0.0
faster_whisper
whisperx


